<section id="pricing">
    <div class="container">
        <div class="content-title">
            <div class="title">
                <h1>Nossas <span>Preços</span></h1>
            </div>
            <div class="line"></div>
        </div>
        <div class="row content-body">
            <div class="col-md-6">
                <div class="card-body" id="free">
                    <h1 class="card-title">Free</h1>
                    <ul class="list">
                        <li>Funcionalidades essenciais</li>
                        <li>Criação e gerenciamento de tarefas</li>
                        <li>Listas ilimitadas</li>
                    </ul>
                    <button>Começar</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body" id="pro">
                    <h1 class="card-title">Pro</h1>
                    <ul class="list">
                        <li>Todos os recursos do Plano Free</li>
                        <li>Sincronização entre dispositivos</li>
                        <li>Personalização avançada</li>
                        <li>Suporte premium</li>
                    </ul>
                    <button>Começar</button>
                </div>
            </div>
        </div>
    </div>
</section>