<footer id="contact">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content-footer">
                        <div class="logo">
                            <img src="assets/logo.png" alt="logo">
                            <div class="logo-text">
                                <h4>Mine's <span>ToDo</span></h4>
                            </div>
                        </div>
                        <div class="footer-text">
                            <p>Transforme suas metas em realizações, uma tarefa de cada vez.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="content-footer">
                        <h5>Nossos Links</h5>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Vantagens</a></li>
                            <li><a href="#">Preços</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-footer">
                        <h5>Endereço</h5>
                        <p>Rua dos Sonhos incríveis, 170 - Bauru - SP</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-footer">
                        <h5>Contatos</h5>
                        <p>todolist&#64;gmail.com</p>
                        <p>(11) 92222-11111 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="copyright">
            <p>Todos os direitos reservados © 2024 Mine's ToDo.</p>
        </div>
    </div>
</footer>