<section id="benefits">
<div class="container-fluid">
    <div class="container">
        <div class="content-title">
            <div class="title">
                <h1>Nossas <span>Vantagens</span></h1>
            </div>
            <div class="line"></div>
        </div>
        <div class="row content-body">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/image-1.png" alt="image-1" class="card-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Produtividade</h5>
                        <p class="card-text">Organize suas tarefas e cumpra objetivos facilmente.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/image-2.png" alt="image-2" class="card-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Foco Aprimorado</h5>
                        <p class="card-text">Concentre-se no essencial, do trabalho ao lazer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/image-3.png" alt="image-3" class="card-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestão Simplificada</h5>
                        <p class="card-text">Gerencie atividades diárias de forma intuitiva.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>